header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

